@use 'vars';


main {
    height: 100vh;
    .container-sec1 {
        
        width: 100%;
        height: 230px;
        
        background-image: url('../assets/images/bg-main-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;

        .container-cards {
            max-width: 375px;
            height: 100%;
            margin: 0 auto;
            position: relative;
            .card-back {
                position: absolute;
                top: 30px;
                right: 20px;
                width: 280px;
                height: 154px;
                background-image: url('../assets/images/bg-card-back.png');
                background-repeat: no-repeat;
                background-size: contain;

                .acct-cvc {
                    
                    font-size: 10px;
                    letter-spacing: 1.3px;
                    color: white;
                    position: absolute;

                    top: 49%;
                    right: 35px;
                    
                    transform: translateY(-49%);
                }
            }

            .card-front {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                bottom: -41px;
                left: 20px;
                width: 280px;
                height: 154px;
                padding: 20px;
                background-image: url('../assets/images/bg-card-front.png');
                background-repeat: no-repeat;
                background-size: contain;

                .container-logo {
                    img {
                        width: 50px;
                    }
                }

                .content-card {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .acct-num {
                        font-size: 18px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: white;
                    }
                    .container-nd {
                        display: flex;
                        justify-content: space-between;

                        .acct-name,
                        .acct-date {
                            font-size: 11px;
                            text-transform: uppercase;
                            letter-spacing: 1.3px;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .container-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: calc(100% - 230px);
        

        .actt-form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 375px;
            padding: 50px 20px;

            .form-group {
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 500;
                    color: vars.$purple-950;
                }

                input {
                    height: 60px;
                    border-radius: 8px;
                    padding-left: 15px;
                    border: 2px solid vars.$gray-200;
                    outline: none;
                    
                    font-size: 18px;
                    font-weight: 500;
                    color: vars.$purple-950;

                    &::placeholder {
                        color: vars.$gray-400;
                    }

                    &:focus {
                        border-image: vars.$linear-gradient;
                        border-image-slice: 1;
                        border-width: 2px;
                        border-style: solid;
                    }

                }
            }

            .container-dc {
                display: flex;
                gap: 10px;

                .container-mm-yy {
                    display: flex;
                    gap: 10px;

                    input {
                        width: 80px;
                    }
                }

                .form-cvc {

                    input {
                        width: 100%;
                    }
                }
            }

            .btn {
                width: 100%;
                height: 60px;
                background-color: vars.$purple-950;
                border-radius: 8px;

                font-size: 18px;
                font-weight: 500;
                color: vars.$white-color;
                border: 0;
            }
        }
    }
}