$white-color: hsl(0, 100%, 100%);
$gray-200: hsl(270, 3%, 87%);
$gray-400: hsl(212, 12%, 71%);
$purple-950: hsl(278, 68%, 11%);
$red-400: hsl(0, 100%, 66%);

$linear-gradient: linear-gradient(to right, hsl(249, 99%, 64%) to hsl(278, 94%, 30%));